<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><img class="my-0 mr-md-auto font-weight-normal" 
      src="../assets/img/fast.jpg" alt="" >Fast Delivery</h5>
         <a class="btn btn-outline-primary" href="#">Login</a>
</div>

<div class="menu pt-md-5 pb-md-4 mx-auto text-center">
    <button type="button" class="btn btn-primary">Administracion</button>
    <button type="button" class="btn btn-primary">Recepcion</button>
    <button type="button" class="btn btn-primary">Transporte</button>
    <button type="button" class="btn btn-primary">Entrega</button>
    <button type="button" class="btn btn-primary">Parametrizacion</button>
    <button type="button" class="btn btn-primary">Accesos</button>      
</div>
<div class="container">       
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Parametrizar Destinos</h4>
            </div>
            <div class="card-body">
              <img src="../assets/img/Destino2.jpg" alt="" width="225" height="225">
                <button type="button" class="btn btn-lg btn-block btn-primary">Ingresar</button>
              </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Parametrizar Bodegas</h4>
            </div>
            <div class="card-body">
              <img src="../assets/img/ajustes.png" alt="" width="225" height="225">
              <button type="button" class="btn btn-lg btn-block btn-primary">Ingresar</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Parametrizar Costos</h4>
            </div>
            <div class="card-body">
                <img src="../assets/img/costos.png" alt="" width="225" height="225">
              <button type="button" class="btn btn-lg btn-block btn-primary">Ingresar</button>
            </div>
          </div>
        </div>
        <div  class="text-right">
            <button type="button" class="btn btn-primary">GUARDAR</button>
            <button type="button" class="btn btn-primary">CANCELAR</button> 
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">&copy; FastDelivery 2019</small>
            </div>
         </div>
        </footer>
      </div>
</div>
